
@import "common";
.main-header {
	padding: 10px 0;
	margin-bottom: 15px;
	background-color: $black;
}
.logo {
	padding-left: 5px;
	img {
		width: 64px;
	}
}
.banner-parallax {
    background-image: url("../images/triangular.jpeg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.channel-input {
	background-color: $black2;
	border-radius: 5px;
	padding: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px;
	label {
		color: white;
	}
	input {
		text-transform: uppercase;
		max-width: 100%;
		padding: 0 5px;
		width: 100%;
		
	}
	.input-group {
		margin-bottom: 10px;
	}
	.btn {
		padding: 1px 0;
		width: 100%;
		background-color: #70a800; 
		color: white;
	}
}

.list-article {
	margin-bottom: 20px;
	overflow: hidden;
}
.login-form {
	background-color: $black;
	padding: 20px 50px;
	margin-top: 15%;
	.title {
		color: white;
		text-transform: capitalize;
		text-align: center;
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.fas {
		color: #8f9394;
	}
	.custom-control-label {
		color: white;
	}
}
.form-control:focus {
	box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}






